# earliest possible SuperSU daemon launch, with fallback to service
on post-fs-data
    exec u:r:init:s0 root root -- /su/bin/daemonsu --auto-daemon

# launch SuperSU daemon
service daemonsu /su/bin/daemonsu --auto-daemon
    class late_start
    user root
    seclabel u:r:init:s0
    oneshot
